
h1 {
    font-family: Cambria;
    text-decoration: underline;
    style="margin-bottom: 0px;

}


body {
    background-color: slategray;
    height: 80vh;
    width: 80vw;

    font-family: Menlo;
    flex-wrap: wrap;

}

label {
    font-size: 20px;
}



